@use "./../../../assets/styles/variables.scss";

.tarjeta-contacto{
    padding: 10px 5px;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr;
    cursor: pointer;
    align-items: center;
    app-icono-contacto{
        width: 50%;
        margin: auto;
    }
    &:hover{
        background-color: variables.$color-acento-200;
    }
}

@media (width < variables.$bp-mobile){
  .tarjeta-contacto{
    grid-template-columns: 1fr 1fr 1fr;
  }
}
