@use "./variables.scss";

#container {
  /* Sacado de https://css-pattern.com/ */
  --s: 200px; /* control the size */
  --c: #fff; /* first color */

  --_g: #0000 8%,var(--c) 0 17%,#0000 0 58%;
  background:
    linear-gradient(135deg,#0000 20.5%,var(--c) 0 29.5%,#0000 0) 0 calc(var(--s)/4),
    linear-gradient( 45deg,var(--_g)) calc(var(--s)/2) 0,
    linear-gradient(135deg,var(--_g),var(--c) 0 67%,#0000 0),
    linear-gradient( 45deg,var(--_g),var(--c) 0 67%,#0000 0 83%,var(--c) 0 92%,#0000 0),
    variables.$color-principal-600; /* second color */
  background-size: var(--s) var(--s);
}


#container{
  height: variables.$alto-body;
  display: flex;
  align-items: center;
  justify-content: center;
}


input, button, label{
  font-size: 28px;
}

h1{
  font-size: 32px;
  margin: 0;
}

.form-container{
  max-width: 400px;
  border-radius: 8px;
  background-color: variables.$color-fondo;
  padding: 50px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

input, button{
  border-radius: 4px;
  padding: 15px 30px;
  border: none;
}

input{
  background-color: rgba(0, 0, 0, 0.05)
}

button{
  background-color: variables.$color-principal-800;
  color: variables.$color-texto-invertido;
  cursor: pointer;
  &[disabled]{
    background-color: gray;
    cursor:not-allowed;
  }
}

a{
  color:variables.$color-principal-900;
}

.error{
  color: variables.$color-error;
}

.escondido{
  display: none;
}

.sr-only {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
  }

.form-container, form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form+p, form p{
  text-align: center;
}


@media (width < variables.$bp-mobile){
  .form-container{
    max-width: unset;
    padding: 20px;
    width: 100%;
  }
  input, button{
    padding: 7px 15px;
  }
}
